@import "tailwindcss";
@plugin "daisyui";

#root {
  background-color: #ffffff;
}
body {
   font-family: 'Anuphan', sans-serif;
}
@media (max-width:575.98px) {
   .my-element {
    display: block;
    width: 100%;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
}
