@import "tailwindcss";
@plugin "daisyui";

#root {
  background-color: #ffffff;
}
body {
   font-family: 'Anuphan', sans-serif;
}
@media (max-width:575.98px) {
   .my-element {
    display: block;
    width: 100%;
  }
}
